{{define "home/home/home.tmpl.html" }}
{{template "teml/teml/upper.tmpl.html" .}}
{{block "home/home/alert.tmpl.html" .}}{{end}}
<!-- Main-body start -->
<div class="main-body">
	<div class="page-wrapper">
		<!-- Page-header start -->
		<div class="page-header">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<div class="d-inline">
							<h4></h4>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item">
								<a href="index-1.htm"> <i class="feather icon-home"></i> </a>
								</li>
							<li class="breadcrumb-item"><a href="#!">{{.title}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Page-header end -->
		
		<!-- Page body start -->
		<div class="page-body">
			<div class="row">
				<div class="col-sm-12">
					<!-- เอามาจาก fb-wall.htm -->
					
					<div class="col-lg-12">
						<div class="cover-profile">
							<div class="profile-bg-img">
								<img class="profile-bg-img img-fluid" src="../static/libraries/assets/images/user-profile/bg-img1.jpg" alt="bg-img">
								<div class="card-block user-info">
									<div class="col-md-12">
										<div class="media-left">
											<a href="#" class="profile-image">
												<img class="user-img img-radius" src="../static/libraries/assets/images/user-profile/user-img.jpg" alt="user-img">
											</a>
										</div>
										<div class="media-body row">
											<div class="col-lg-12">
												<div class="user-title">
													<h2>Josephin Villa</h2>
													<span class="text-white">Web designer</span>
												</div>
											</div>
											<div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tab -->
				
					{{block "home/home/tab.tmpl.html" .}}{{end}}
					<!-- end Tab -->
					<!-- end เอามาจาก fb-wall.htm -->
					<!-- Default select start -->
					<div class="card">
						<div class="card-header">
							<h5>Default Select</h5>
							<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
							
						</div>
						<div class="card-block">
							<div class="row">
							</div>
							<div class="row">
							</div>
						</div>
					</div>
					<!-- Default select end -->
					
				</div>
			</div>
		</div>
		<!-- Page body end -->
	</div>
</div>
<!-- Main-body end -->
<!-- ******************** -->
{{block "home/home/js.tmpl.html" .}}{{end}}


{{template "teml/teml/lower.tmpl.html" .}}

{{end}}
