{{define "purchase/supplier/table.tmpl.html" }}
<div class="card">
<div class="card-block">
 	<div class="dt-responsive table-responsive">
								<table id="pl-table" class="table">
									<thead>
										<tr>
											<th>ลำดับที่</th>
											<th>Supplier No.</th>
											<th>สถานะ</th>
											<th>Supplier Name</th>.
											<th>เครดิต (วัน)</th>
											<th>ชื่อผู้รับเงิน</th>
											<th>ธนาคาร</th>
											<th>วันที่เพิ่มเข้าระบบ</th>
											<th>หมายเหตุ</th>
											
										</tr>
									</thead>
								</table>
								</div>
</div>
</div>

{{end}}
		{{range .getSupplier}}
									<tr>
											<td>{{.Count}}</td>
											<td>System Architect</td>
											<td>{{.SupplyierName}}</td>
											<td>61</td>
											<td>2011/04/25</td>
											<td>$320,800</td>
										</tr>
										{{end}}
 <tbody>
										<tr>
											<td>Tiger Nixon</td>
											<td>System Architect</td>
											<td>Edinburgh</td>
											<td>61</td>
											<td>2011/04/25</td>
											<td>$320,800</td>
										</tr>
										 
										<tr>
											<td>{{.StaffName}}</td>
											<td>{{.Dep}}</td>
											<td>Tokyo</td>
											<td>{{.Tel}}</td>
											<td>{{.Mobile}}</td>
											<td>$170,750</td>
										</tr>
										 
										
									</tbody>