{{define "product/product/table.tmpl.html" }}


 
 	<div class="dt-responsive table-responsive">
								<table id="pl-table" class="table table-striped table-bordered nowrap "	>
									<thead>
										<tr>
											<th>รหัสสินค้า</th>
											<th>ชื่อสินค้า</th>
											<th>หน่วยนับ</th>
											<th>ราคา 1</th>
											<th>ราคา 2</th>
											<th>ราคา 3</th>
											 
										</tr>
									</thead>
									
									 
								</table>
	</div>
 

 

{{end}}

	class="table table-striped table-bordered nowrap"	
	class="table  table-bordered nowrap"
	
	<div class="card">
		<div class="card-block">