{{define "product/product/js_new.tmpl.html" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function CheckSummit(){
		var pwd = document.getElementById("pwd").value ;  
		if (pwd == "" || pwd == null || pwd == undefined) {
			   alert("กรุณาใส่รหัสผ่าน");
				return false;
		}else{
			return true;
			
		}
	}// end func
	
	//////////////////////////////
	//// 2566 ด้าลนล่าง โอเคร
	function getSupplierWithCate(){
		var tmpCate = document.getElementById("ProductCate").value;
		if(tmpCate == "n/a"){
			return ;
		}else{
			$.ajax({
				type: 'POST',
				url: '/product/productAjax',
				data: {
					'menu': 'goSupplier',
					'val_sel': tmpCate,
					
				},
				success: function(data) {  
					crateOptionSupplier(data.sup_name,data.PKKey);
					crateOptionProductReplace(data.productreplace,data.productreplace);
				},
				error: function(XMLHttpRequest, errorThrown) {
					alert("Error => Please  " + errorThrown + "->");
				}
			}) // end ajax
			
		} // end else
		
		
	}// end func
	function crateOptionSupplier(name,PKKey){  
		var x = document.getElementById("productSupplier");
			x.options.length = 0;
			var opt = document.createElement('option');
			for ( r in name) {
				var opt = document.createElement('option');
				opt.value = PKKey[r]+"||"+name[r];
				opt.innerHTML = name[r];
				x.appendChild(opt);
				
			} // end for
		
	}// end func
	/// สินค้าทดแทน
	function crateOptionProductReplace(name,PKKey){
		var x = document.getElementById("productreplace");
			x.options.length = 0;
			var opt = document.createElement('option');
			for ( r in name) {
				var opt = document.createElement('option');
				opt.value = name[r];
				opt.innerHTML = name[r];
				x.appendChild(opt);
				
			} // end for
		 
	}// end func
	
	
	////////////////////////
	///////// img 
	//////////////////////////
	function showPreview(input, shnow) {
		
		type1 = 'image/jpeg';
		if (input.files[0].type != type1) {
			alert("กรุณาเลือกรูปภาพ");
			input.value = "";
		}
		if (input.files[0].size > 170000) {
			// check 170 KB
			alert("กรุณาเลือกรูปขนาดไม่เกิน 150 KB");
			input.value = "";
		};
		var area = '#' + shnow; // img14
		var area1 = '#sh_' + shnow;   //sh_img14
		var a = document.getElementById(area1); //or grab it by tagname etc
		//document.getElementById("btn_rm_"+shnow).hidden = false;
		//document.getElementById("btn_rm_"+idd).style.visibility = "show"
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function (e) {
				$(area).attr('src', e.target.result);
				$(area1).attr('href', e.target.result);
			};
			
			reader.readAsDataURL(input.files[0]);
		}
		
	} // end func
	function delImg(idd){ 
	 
		//document.getElementById("btn_rm_"+idd).style.visibility = "hidden"
		document.getElementById("sh_"+idd).value = "";
		document.getElementById("filer_input_oze_"+idd).value = "";
		document.getElementById(idd).src = "/static/error.png";
		
	} // end func
	</script>

{{end}}
/*
----- ด้านล่างไม่มีการประมวลผล -----------------------------------
*/
	 /*
	$(document).ready(function() {
		$('#pl-table').DataTable( {
			"responsive": true,
			"aaData":{{.getSupplier}},
			"aoColumns":
			[
			{"mDataProp": "Count", className: "text-center"},
			{"mDataProp": "SupplyierID", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierCredit", className: "text-center"},
			{"mDataProp": "SupplyierContact", className: "text-center"},
			{"mDataProp": "SupplyierBank", className: "text-center"},
			{"mDataProp": "SupplyierAccountBank",className: "text-center"},
			{"mDataProp": "PKKey",
				render: function ( data, type, row ) {
					return '<a href="/Supplierdetail/'+data+'">Click</a>';
					
					
				},
				
			className: "text-center"},
			] , /// color
			createdRow: function (row, data, dataIndex) {  
							if(data['Status'] == "0"){
								$(row).css('background-color', '#bbbbbb');
							}
			},
											
		} ); // end DataTable
		
		
	}
	); // end $.Doc

</script>
<script>
	function setDistrict(here,next){ 
		//document.getElementById("showNow").innerHTML = "กำลังดำเนินการ กรุณารอสักครู่ อำเภอ";
		var tmp1 = document.getElementById(here).value;
		 
		$.ajax({
			type: 'POST',
			url: '/purchase/provinceAjax',
			data: {
				'menu': 'goDistrict',
				'val_sel': tmp1,
				
			},
			success: function(data) {
				crateOptionDistrict(JSON.parse(JSON.stringify(data.idd)),JSON.parse(JSON.stringify(data.name)),next); 
				//document.getElementById("showNow").innerHTML = JSON.parse(JSON.stringify(data.retNow));
				//crateOptionDistrict(JSON.parse(JSON.stringify(data.retNow)),next);
			},
			error: function(XMLHttpRequest, errorThrown) {
				alert("Error => Please  " + errorThrown + "->");
			}
		}) // end ajax
		
		
		
		
	} // end func
	function setTambon(here,next){ 
		//document.getElementById("showNow").innerHTML = "กำลังดำเนินการ กรุณารอสักครู่ ตำบล";
		var tmp1 = document.getElementById(here).value;
		
		$.ajax({
			type: 'POST',
			url: '/purchase/provinceAjax',
			data: {
				'menu': 'goTambon',
				'val_sel': tmp1,
				
			},
			success: function(data) {
				crateOptionTambon(JSON.parse(JSON.stringify(data.idd)),JSON.parse(JSON.stringify(data.name)),next); 
			},
			error: function(XMLHttpRequest, errorThrown) {
				alert("Error => Please  " + errorThrown + "->");
			}
		}) // end ajax
		
		
		
		
	} // end func
	function setPostCode(here,next){ 
		//document.getElementById("showNow").innerHTML = "กำลังดำเนินการ กรุณารอสักครู่ ไปรษณีย์";
		var tmp1 = document.getElementById(here).value;
		
		$.ajax({
			type: 'POST',
			url: '/purchase/provinceAjax',
			data: {
				'menu': 'goPostcode',
				'val_sel': tmp1,
				
			},
			success: function(data) {
				
				//document.getElementById("showNow").innerHTML = JSON.parse(JSON.stringify(data.retNow));
				document.getElementById(next).value = data.idd;
				
			},
			error: function(XMLHttpRequest, errorThrown) {
				alert("Error => Please  " + errorThrown + "->");
			}
		}) // end ajax
		
		
		
		
	} // end func
	
	function crateOptionDistrict(idd,name,next){
		var x = document.getElementById(next);
			x.options.length = 0;
			var opt = document.createElement('option');
			opt.value = "na"
			opt.innerHTML = "อำเภอ";
			x.appendChild(opt);
			for ( r in idd) {
				var opt = document.createElement('option');
				opt.value = idd[r];
				opt.innerHTML = name[r];
				x.appendChild(opt);
				
			} // for
			
			// clear
			var y = document.getElementById("tam");
			y.options.length = 0;
			var opt = document.createElement('option');
			opt.value = "na";
			opt.innerHTML = "ตำบล";
			y.appendChild(opt);
			document.getElementById("tam").value= "na";
			document.getElementById("postid").value= "";
		
	}// end func
	function crateOptionTambon(idd,name,next){
		var x = document.getElementById(next);
			x.options.length = 0;
			var opt = document.createElement('option');
			opt.value = "na"
			opt.innerHTML = "ตำบล";
			x.appendChild(opt);
			for ( r in idd) {
				var opt = document.createElement('option');
				opt.value = idd[r];
				opt.innerHTML = name[r];
				x.appendChild(opt);
				
			} // for
			
			// clear
			 
			document.getElementById("postid").value= "";
		
	} // end func
	 */


	 
	/*
	$(document).ready(function() {
		$('#pl-table').DataTable( {
			"responsive": true,
			"aaData":{{.getSupplier}},
			"aoColumns":
			[
			{"mDataProp": "Count", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName", className: "text-center"},
			{"mDataProp": "SupplyierName",className: "text-center"},
			{"mDataProp": "SupplyierName",
				render: function ( data, type, row ) {
					return '<a href="/Supplierdetail/'+data+'">Click</a>';
					
					
				},
				
			className: "text-center"},
			
			] , /// color
			createdRow: function (row, data, dataIndex) {  
							if(data['SupplyierName'] == "ระงับการใช้งาน"){
								$(row).css('background-color', '#bbbbbb');
							}
			},
											
		} ); // end DataTable
		
		
	}	); // end $.Doc
	*/
function AddNewSupplier(){alert("test");
	//'val_supcate' : document.getElementById("supcate").select2() ,
	//	'val_supcate' : document.getElementById("supcate").select2() ,
		 		var ttt = $("#supcate").val();alert(ttt);
				
		const set = new Set([ttt]);
 ar = Array.from(set);
alert(ar);
	 	/// array1
		var arr11 = []
		for (var i = 0; i < ttt.length; i++) {
  // use array[i] here
  alert(ttt[i]);
		arr11.push(ttt[i]);
}
	alert(arr11);
	//arr1 = [];
	 
	const arr1 = ["Banana", "Orange", "Apple", "Mango"];
	/////////
		$.ajax({
			type: 'POST',
			url: '/purchase/provinceAjax',
			data: {
				'menu': 'NewSupplier',
				'val_suptype' : document.getElementById("suptype").value ,
				'val_supid' : document.getElementById("supid").value ,
				'val_supname' : document.getElementById("supname").value ,
				'val_suptax' : document.getElementById("suptax").value ,
				'val_supaddress' : document.getElementById("supaddress").value ,
				'val_province' : document.getElementById("province").value ,
				'val_amp' : document.getElementById("amp").value ,
				'val_tam' : document.getElementById("tam").value ,
				'val_suptel' : document.getElementById("suptel").value ,
				'val_supcontactname' : document.getElementById("supcontactname").value ,
				'val_supcontacttel' : document.getElementById("supcontacttel").value ,
				'val_bankbrand' : document.getElementById("bankbrand").value ,
				'val_bankno' : document.getElementById("bankno").value ,
				'val_bankname' : document.getElementById("bankname").value ,
				'val_credit' : document.getElementById("credit").value ,
				'val_cash' : document.getElementById("cash").value ,
				'val_supcate' : arr1 ,
				'val_suppro' : document.getElementById("suppro").value ,
				'val_supcomment' : document.getElementById("supcomment").value ,

				
			},
			success: function(data) {
				alert("บันทึกข้อมูลเรียบร้อยแล้ว"+data.status);
				//document.getElementById("showNow").innerHTML = JSON.parse(JSON.stringify(data.retNow));
				//crateOptionTambon(JSON.parse(JSON.stringify(data.retNow)),next);
			},
			error: function(XMLHttpRequest, errorThrown) {
				alert("Error => Please  " + errorThrown + "->");
			}
		}) // end ajax
	} // end func
function AddNow(){

if(document.getElementById("CateName").value == ""){alert("กรุณากรอกข้อมูลใหครบถ้วน");
}else{ 
$.ajax({
type: 'POST',
url: '/setting/ajax/',
data: {
'menu': "ProductCateNew",  //  13,14
'CateProduct': document.getElementById("CateName").value,
'Status': document.getElementById("status").value,
contentType: false,
processData: false,
},
success: function (data) { 
alert(data.msg);
window.location.reload(true);
},
error: function (XMLHttpRequest, errorThrown) {
alert("Error => " + errorThrown + "->" );
}
})// end ajax

}// end else



}// end	func
$(document).ready(function() {
$('#pl-table').DataTable( {
"responsive": true,
"aaData":{{.Cate}},
"aoColumns":
[
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "CateName", className: "text-center"},
{"mDataProp": "Status",className: "text-center"},
{"mDataProp": "PKKey",
render: function ( data, type, row ) {
return '<a href="/cateproduct/'+data+'">Click</a>';


},

className: "text-center"},
] , /// color
createdRow: function (row, data, dataIndex) {  
if(data['Status'] == "ระงับการใช้งาน"){
$(row).css('background-color', '#bbbbbb');
}
},

} ); // end DataTable


}
); // end $.Doc
function UpNow(){ 
if(document.getElementById("CateName").value == ""){alert("กรุณากรอกข้อมูลใหครบถ้วน");}else{
$.ajax({
type: 'POST',
url: '/setting/ajax/',
data: {
'menu': "CateProductup",  //   
'PKKey1':document.getElementById("PKkey").value,
'Status':document.getElementById("Status").value,
'CateName': document.getElementById("CateName").value,

contentType: false,
processData: false,
},
success: function (data) { 
alert(data.msg);
window.location = "/setting/ProductCate";

},
error: function (XMLHttpRequest, errorThrown) {
alert("Error => " + errorThrown + "->" );
}
})// end ajax

}// end else



}// end
{{range .CateNow}}

document.getElementById("Status").value = {{.Status}} ;
document.getElementById("CateName").value = {{.CateName}} ;

document.getElementById("PKkey").value = {{.PKKey}} ;
{{end}}
/*
var table = $('#Dtable').DataTable(); // กำลังตัวแปรตาราง
$('#Dtable tbody').on('click', 'tr', function () {
var data = table.row(this).data(); //ตั้งค่าตัวแปรทั้งบรรทัด
var shhere = "("+data['pid']+") "+data['name']+" "+data['dep'];
document.getElementById("sumperson").value= data['pid'];
document.getElementById("shsumperson").value= shhere;
document.getElementById("shtel").value= data['tel'];
document.getElementById("sumtel").value= data['tel'];
document.getElementById("shemail").value= data['email'];
document.getElementById("sumemail").value= data['email'];
document.getElementById("addticket-2-"+data['cid']).click()

} );
*/




/*
function CheckNow(i){ alert("row : "+i) 
var sel_m = document.getElementById("sel_m_"+i).value; 
var sel_y = document.getElementById("sel_y_"+i).value;
var upFile = document.getElementById("upfile_"+i);  
// var fileExt = sender.value;
var validExts = new Array(".xlsx", ".xls", ".csv");
var up_val = upFile.value;
up_val = up_val.substring(up_val.lastIndexOf('.'));
if(sel_m == 0 || sel_y == 0){
alert("กรุณาเลือกเดือน/ปี");
break;
return false;
}
else if (validExts.indexOf(up_val) < 0) {
alert("Invalid file selected, valid files are of " +
validExts.toString() + " types.");
break;
return false;

}
else{
alert("กำลังบันทึกข้อมูลกรุณารอสักครู่");
return true;
} // end else
alert("กำลังบันทึกข้อมูลกรุณารอสักครู่");
}// end func	
///// ทดสอบ AJAX
*/
/*	function UpNow(i){ // ไม่ได้ใช้งาน
alert("1");


var sel_m = document.getElementById("sel_m_"+i).value; 
var sel_y = document.getElementById("sel_y_"+i).value;
var upFile = document.getElementById("upfile_"+i);  
// var fileExt = sender.value;
alert("2");
var validExts = new Array(".xlsx", ".xls", ".csv");
var up_val = upFile.value;
up_val = up_val.substring(up_val.lastIndexOf('.'));
alert("3");
if(sel_m == 0 || sel_y == 0){
alert("กรุณาเลือกเดือน/ปี");
return false;
}
else if (validExts.indexOf(up_val) < 0) {
alert("Invalid file selected, valid files are of " +
validExts.toString() + " types.");

return false;

}
else{

//return true;
//Ajax
var fd = new FormData();
alert("aaa"+ upFile.value);
var files = $('#upfile_1')[0].files

if(files.length > 0 ){
	alert("have file");
	fd.append('file',files[0]);
	}
	$.ajax({
	type: 'POST',
	url: '/PaymentAjax/',
	data: {
	'menu': "AddExcel",  //  13,14
	'month': sel_m,
	'year': sel_y,
	'excel':fd,
	contentType: false,
	processData: false,
	},
	success: function (data) { 
	alert("Ajax is ok ");
	},
	error: function (XMLHttpRequest, errorThrown) {
	alert("Error => " + errorThrown + "->" );
	}
	})// end ajax
	
	
	
	
	
	
	} // end else
	
	}// end func*/
	function UpNow(i){ // ไม่ได้ใช้งาน
	var sel_m = document.getElementById("sel_m_"+i).value; 
	var sel_y = document.getElementById("sel_y_"+i).value;
var upFile = document.getElementById("upfile_"+i);  
// var fileExt = sender.value;
var validExts = new Array(".xlsx", ".xls", ".csv");
var up_val = upFile.value;
up_val = up_val.substring(up_val.lastIndexOf('.'));
if(sel_m == 0 || sel_y == 0){
alert("กรุณาเลือกเดือน/ปี");
return false;
}
else if (validExts.indexOf(up_val) < 0) {
alert("Invalid file selected, valid files are of " +
validExts.toString() + " types.");

return false;

}
else{

//return true;
//Ajax
var fd = new FormData();
alert("aaa"+ upFile.value);
var files = $('#upfile_2')[0].files

if(files.length > 0 ){
alert("have file");
fd.append('file',files[0]);
}
$.ajax({
type: 'POST',
url: '/PaymentAjax/',
data: {
'menu': "AddExcel",  //  13,14
'month': sel_m,
'year': sel_y,
'excel':fd,
contentType: false,
processData: false,
},
success: function (data) { 
alert("Ajax is ok ");
},
error: function (XMLHttpRequest, errorThrown) {
alert("Error => " + errorThrown + "->" );
}
})// end ajax






} // end else

}// end func	