{{define "setting/staff/staffDetail.tmpl.html" }}
{{template "teml/teml/upper.tmpl.html" .}}
{{block "setting/staff/alert.tmpl.html" .}}{{end}}
<!-- Main-body start -->
<div class="main-body">
	<div class="page-wrapper">
		<!-- Page-header start -->
		<div class="page-header">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<div class="d-inline">
							<h4>ข้อมูลพนักงาน</h4>
							<span>***</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item">
								<a href="index-1.htm"> <i class="feather icon-home"></i> </a>
							</li>
							<li class="breadcrumb-item"><a href="#!">{{.title}}</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Page-header end -->
		
		<!-- Page-body start -->
		<div class="page-body">
			<div class="row">
				<div class="col-sm-12">
					<!-- Basic Button table start -->
					<div class="card">
						<div class="card-header">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">สถานะการใช้งาน</label>
								<div class="col-sm-2">
									<select name="select" class="form-control" id="Status">
										<option value="1" >กำลังใช้งาน</option>
										<option value="0">ระงับการใช้งาน</option>
										 
										
									</select> 
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">ชื่อ-นามสกุล</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="StaffName">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">แผนก</label>
								<div class="col-sm-10">
									<select name="select" class="form-control" id="Dep">
										<option value="ฝ่ายจัดซื้อ">ฝ่ายจัดซื้อ</option>
										<option value="ฝ่ายขาย">ฝ่ายขาย</option>
										<option value="ฝ่ายคลังสินค้า">ฝ่ายคลังสินค้า</option>
										<option value="ฝ่ายบัญชี">ฝ่ายบัญชี</option>
										
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">ตำแหน่ง</label>
								<div class="col-sm-10">
									<select name="select" class="form-control" id="Level">
										<option value="พนักงาน">พนักงาน</option>
										<option value="หัวหน้า">หัวหน้า</option>
										
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 mobile-inputs">
									<h4 class="sub-title">การเข้าสู่ระบบ</h4>
									<div class="form-group row">
									<label class="col-sm-2 col-form-label">Username</label>
									<div class="col-sm-10">
										<input type="text" class="form-control form-txt-primary" placeholder="Username" id="usr">
									</div>
									</div>
									<div class="form-group row">
									<label class="col-sm-2 col-form-label">Password</label>
									<div class="col-sm-10">
										<input type="password" class="form-control form-txt-danger" placeholder="password" id="pwd">
									</div>
									</div>
								</div>
								<div class="col-sm-6 mobile-inputs">
									<h4 class="sub-title">ข้อมูลติดต่อ</h4>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Email</label>
										<div class="col-sm-10"><input type="text" class="form-control form-txt-primary" placeholder="Email" id="Email">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">เบอร์มือถือ</label>
										<div class="col-sm-10">
											<input type="text" class="form-control form-txt-warning" placeholder="Mobile" id="Mobile">
										</div>
									</div>
									<div class="form-group row">
										
										<label class="col-sm-2 col-form-label">เบอร์พื้นฐาน</label>
										<div class="col-sm-10">
											<input type="text" class="form-control form-txt-success" placeholder="Tel" id="Tel">
										</div>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-sm-12" align="right">
									<input type="hidden" id="PKkey" >
									<button class="btn btn-success btn-round" onclick="UpNow()">บันทึกข้อมูล</button>
									 
								</div>
							</div>
						
						
						
						
						<div class="card-block">
							
							<!-- DataTable -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- js -->
		{{block "setting/staff/js.tmpl.html" .}}{{end}}
		<!-- ******************** -->
		
		
		{{template "teml/teml/lower.tmpl.html" .}}
		
		{{end}}
		