{{define "teml/teml/lower.tmpl.html"}}
  <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="../static/libraries/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../static/libraries/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../static/libraries/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/modernizr/js/css-scrollbars.js"></script>
 <!-- data-table js -->
<script src="../static/libraries/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/libraries/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../static/libraries/assets/pages/data-table/js/jszip.min.js"></script>
<script src="../static/libraries/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="../static/libraries/assets/pages/data-table/js/vfs_fonts.js"></script>
<script src="../static/libraries/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../static/libraries/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../static/libraries/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../static/libraries/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/libraries/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>



   
    <!-- i18next.min.js -->
    <script type="text/javascript" src="../static/libraries/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="../static/libraries/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
	
	<!-- Custom js -->
<script type="text/javascript" src="../static/libraries/assets/js/script.js"></script>
	
	
	
	<!-- Select 2 js -->
<script type="text/javascript" src="../static/libraries/bower_components/select2/js/select2.full.min.js"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="../static/libraries/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>


    <!-- Custom js -->
	<script src="../static/libraries/assets/pages/data-table/js/data-table-custom.js">/*DataTable*/</script>

	<script type="text/javascript" src="../static/libraries/assets/pages/advance-elements/select2-custom.js">/*select 2 */</script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js"></script>
    <script src="../static/libraries/assets/js/pcoded.min.js"></script>
    <script src="../static/libraries/assets/js/vartical-layout.min.js"></script>
    <script src="../static/libraries/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../static/libraries/assets/js/script.js"></script>
	 <!-- barrating js -->
    <script type="text/javascript" src="../static/libraries/bower_components/jquery-bar-rating/js/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="../static/libraries/assets/pages/rating/rating.js"></script>
    <!-- slick js -->
    <script type="text/javascript" src="../static/libraries/bower_components/slick-carousel/js/slick.min.js"></script>
 <script type="text/javascript" src="../static/libraries/assets/pages/product-detail/product-detail.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

 
 
{{block "teml/teml/getsessionstorage" .}}{{end}}
</html>



{{end}} 
<!-- data-table js -->
    <script src="../static/libraries/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/jszip.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js"></script>
    <script src="../static/libraries/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../static/libraries/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>