{{define "teml/teml/upper.tmpl.html"}}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Adminty - {{.title}} </title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="#">
		<meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
		<meta name="author" content="#">
		<!-- Favicon icon -->
		<link rel="icon" href="../static/libraries/assets/images/favicon.ico" type="image/x-icon">
		<!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
		<!-- Required Fremwork -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/bootstrap/css/bootstrap.min.css">
		<!-- themify-icons line icon -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/icon/themify-icons/themify-icons.css">
		<!-- ico font -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/icon/icofont/css/icofont.css">
		<!-- feather Awesome -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/icon/feather/css/feather.css">
		    <!-- Select 2 css -->
    <link rel="stylesheet" href="../static/libraries/bower_components/select2/css/select2.min.css">
	 <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/switchery/css/switchery.min.css">
	 <!-- Tags css -->
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
		<!-- Data Table Css -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/pages/data-table/css/buttons.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
		<!-- 
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/pages/data-table/extensions/buttons/css/buttons.dataTables.min.css">
		-->
		<!-- Style.css -->
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/libraries/assets/css/jquery.mCustomScrollbar.css">
		
		<!-- star theme css -->
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-1to10.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-horizontal.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-movie.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-pill.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-reversed.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/bars-square.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/jquery-bar-rating/css/css-stars.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/slick-carousel/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/libraries/bower_components/slick-carousel/css/slick-theme.css">
 
 
 
		
		
		
	</head>
	
	<body>
		<!-- Pre-loader start -->
		<div class="theme-loader">
			<div class="ball-scale">
				<div class='contain'>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader end -->
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
				<!-- Topbar header - style you can find in pages.scss -->
						<!-- ============================================================== -->
						{{block "tmpl/tmpl/top" .}}{{end}}
						<!-- ============================================================== -->
						<!-- End Topbar header -->
				
				
				
				
			
				
				<!-- Sidebar inner chat end-->
				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
					<!--**********************************
							Sidebar start
						***********************************-->
						{{block "tmpl/tmpl/menu" .}}{{end}}
						<!--**********************************
							Sidebar end
						***********************************-->
					
					
					
						 <div class="pcoded-content">
                    <div class="pcoded-inner-content">
						
						
						
					 
						
						
						
						
						
						
						
						
						
						{{end}}
										