{{define "setting/productHashtag/js.tmpl.html" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function AddNow(){
	 
		if(document.getElementById("HashtagName").value == ""){alert("กรุณากรอกข้อมูลใหครบถ้วน");
		}else{ 
			$.ajax({
				type: 'POST',
				url: '/setting/ajax/',
				data: {
					'menu': "HashtagNew",  //  13,14
					'Namee': document.getElementById("HashtagName").value,
					'Status': document.getElementById("status").value,
					contentType: false,
					processData: false,
				},
				success: function (data) { 
					alert(data.msg);
					window.location.reload(true);
				},
				error: function (XMLHttpRequest, errorThrown) {
					alert("Error => " + errorThrown + "->" );
				}
			})// end ajax
			
		}// end else
		
		
		
	}// end	func
	$(document).ready(function() {
		$('#pl-table').DataTable( {
			"responsive": true,
			"aaData":{{.hashtag}},
			"aoColumns":
			[
			{"mDataProp": "HashtagName", className: "text-center"},
			{"mDataProp": "Status",className: "text-center"},
			{"mDataProp": "PKKey",
				render: function ( data, type, row ) {
					return '<a href="/hashtagdetail/'+data+'">Click</a>';
					
					
				},
				
			className: "text-center"},
			] , /// color
			createdRow: function (row, data, dataIndex) {  
							if(data['Status'] == "ระงับการใช้งาน"){
								$(row).css('background-color', '#bbbbbb');
							}
			},
											
		} ); // end DataTable
		
		
	}
	); // end $.Doc
	function UpNow(){ 
		if(document.getElementById("HashtagName").value == ""){alert("กรุณากรอกข้อมูลใหครบถ้วน");}else{
			$.ajax({
				type: 'POST',
				url: '/setting/ajax/',
				data: {
					'menu': "HashtagUp",  //   
					'PKKey1':document.getElementById("PKkey").value,
					'Status':document.getElementById("Status").value,
					'Namee': document.getElementById("HashtagName").value,
					 
					contentType: false,
					processData: false,
				},
				success: function (data) { 
					alert(data.msg);
					window.location = "/setting/ProductHashtag";
					 
				},
				error: function (XMLHttpRequest, errorThrown) {
					alert("Error => " + errorThrown + "->" );
				}
			})// end ajax
			
		}// end else
		
		
		
	}// end
	{{range .hashtag}}
 
	document.getElementById("Status").value = {{.Status}} ;
	document.getElementById("HashtagName").value = {{.HashtagName}} ;
	 
	document.getElementById("PKkey").value = {{.PKKey}} ;
	
	{{end}}
</script>

{{end}}
 

/*
var table = $('#Dtable').DataTable(); // กำลังตัวแปรตาราง
$('#Dtable tbody').on('click', 'tr', function () {
var data = table.row(this).data(); //ตั้งค่าตัวแปรทั้งบรรทัด
var shhere = "("+data['pid']+") "+data['name']+" "+data['dep'];
document.getElementById("sumperson").value= data['pid'];
document.getElementById("shsumperson").value= shhere;
document.getElementById("shtel").value= data['tel'];
document.getElementById("sumtel").value= data['tel'];
document.getElementById("shemail").value= data['email'];
document.getElementById("sumemail").value= data['email'];
document.getElementById("addticket-2-"+data['cid']).click()

} );
*/




/*
function CheckNow(i){ alert("row : "+i) 
var sel_m = document.getElementById("sel_m_"+i).value; 
var sel_y = document.getElementById("sel_y_"+i).value;
var upFile = document.getElementById("upfile_"+i);  
// var fileExt = sender.value;
var validExts = new Array(".xlsx", ".xls", ".csv");
var up_val = upFile.value;
up_val = up_val.substring(up_val.lastIndexOf('.'));
if(sel_m == 0 || sel_y == 0){
alert("กรุณาเลือกเดือน/ปี");
break;
return false;
}
else if (validExts.indexOf(up_val) < 0) {
alert("Invalid file selected, valid files are of " +
validExts.toString() + " types.");
break;
return false;

}
else{
alert("กำลังบันทึกข้อมูลกรุณารอสักครู่");
return true;
} // end else
alert("กำลังบันทึกข้อมูลกรุณารอสักครู่");
}// end func	
///// ทดสอบ AJAX
*/
/*	function UpNow(i){ // ไม่ได้ใช้งาน
alert("1");


var sel_m = document.getElementById("sel_m_"+i).value; 
var sel_y = document.getElementById("sel_y_"+i).value;
var upFile = document.getElementById("upfile_"+i);  
// var fileExt = sender.value;
alert("2");
var validExts = new Array(".xlsx", ".xls", ".csv");
var up_val = upFile.value;
up_val = up_val.substring(up_val.lastIndexOf('.'));
alert("3");
if(sel_m == 0 || sel_y == 0){
alert("กรุณาเลือกเดือน/ปี");
return false;
}
else if (validExts.indexOf(up_val) < 0) {
alert("Invalid file selected, valid files are of " +
validExts.toString() + " types.");

return false;

}
else{

//return true;
//Ajax
var fd = new FormData();
alert("aaa"+ upFile.value);
var files = $('#upfile_1')[0].files

if(files.length > 0 ){
	alert("have file");
	fd.append('file',files[0]);
	}
	$.ajax({
	type: 'POST',
	url: '/PaymentAjax/',
	data: {
	'menu': "AddExcel",  //  13,14
	'month': sel_m,
	'year': sel_y,
	'excel':fd,
	contentType: false,
	processData: false,
	},
	success: function (data) { 
	alert("Ajax is ok ");
	},
	error: function (XMLHttpRequest, errorThrown) {
	alert("Error => " + errorThrown + "->" );
	}
	})// end ajax
	
	
	
	
	
	
	} // end else
	
	}// end func*/
	function UpNow(i){ // ไม่ได้ใช้งาน
	var sel_m = document.getElementById("sel_m_"+i).value; 
	var sel_y = document.getElementById("sel_y_"+i).value;
	var upFile = document.getElementById("upfile_"+i);  
	// var fileExt = sender.value;
	var validExts = new Array(".xlsx", ".xls", ".csv");
	var up_val = upFile.value;
	up_val = up_val.substring(up_val.lastIndexOf('.'));
	if(sel_m == 0 || sel_y == 0){
	alert("กรุณาเลือกเดือน/ปี");
	return false;
	}
	else if (validExts.indexOf(up_val) < 0) {
	alert("Invalid file selected, valid files are of " +
	validExts.toString() + " types.");
	
	return false;
	
	}
	else{
	
	//return true;
	//Ajax
	var fd = new FormData();
	alert("aaa"+ upFile.value);
	var files = $('#upfile_2')[0].files
	
	if(files.length > 0 ){
		alert("have file");
		fd.append('file',files[0]);
		}
		$.ajax({
		type: 'POST',
		url: '/PaymentAjax/',
		data: {
		'menu': "AddExcel",  //  13,14
		'month': sel_m,
		'year': sel_y,
		'excel':fd,
		contentType: false,
		processData: false,
		},
		success: function (data) { 
		alert("Ajax is ok ");
		},
		error: function (XMLHttpRequest, errorThrown) {
		alert("Error => " + errorThrown + "->" );
		}
		})// end ajax
		
		
		
		
		
		
		} // end else
		
	}// end func	